nav {
  padding: 10px;
  height: 40px;
  display: flex;
  width: 100vw;
  justify-content: left;
  align-items: center;
  /* one dark black background color */
  background-color: #282c34;
}
.profile-text {
  border: 0;
  font-size: 2rem;
  background-color: rgba(0, 0, 0, 0);
  color: white;
  width: 85vw;
}
.profile-img {
  border-radius: 100%;
  /* move image to right side navbar */
  /* float: right; */
  height: 50px;
  width: 50px;
}
